* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/* Center */
body {
  background-color: #f5f5fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Main-container */
.box-container {
  display: flex;
  background-color: #f5f5fd;
  position: relative;
  /* width: 632px;
  height: 413px; */
  width: 39.5rem;
  height: 25.81rem;
}
.white-box {
  background-color: #ffffff;
  /* padding: 90px; */
  padding: 5.63rem;
  /* border-radius: 30px; */
  border-radius: 1.88rem;
  margin-top: 3.13rem;
  margin-left: 3.13rem;
  bottom: 0;
  right: 0;
  position: absolute;
}
.blue-box {
  background-color: #d1d0f5;
  width: 37.63rem;
  height: 19.75rem;
  border-radius: 1.88rem;
  top: 0;
  left: 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3 {
  font-family: Merriweather, sans-serif;
  font-size: 1.63rem;
  margin-bottom: 2rem;
}
p {
  font-family: Inter, sans-serif;
}
.finish {
  font-size: 1.13rem;
}
.complete {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.score {
  font-weight: bolder;
  font-size: 1.75rem;
}
.circle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.38rem;
  height: 7.38rem;
  border-radius: 50%;
  border: #d5d4f0 solid 0.5rem;
  box-shadow: 0px 0.88rem 5.25rem #d1d0f5;
  margin-right: 1rem;
  box-sizing: border-box;
}
